#navId{
  border: 0.04rem solid rgba(0,0,0,0.2);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}

.center{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-weight: 400;
 font-size: 1.3rem;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.media{
  border-bottom: 1px solid #d6d6d6;
}

.btnClass{
  color: white;
  font-weight: 500;
  width: 180px;
  border-radius: 0;
}

@media only screen and (min-width : 768) {
  p {
    font-size: 60%,
    
  }
  
  img {
    size : 60%
  }

  button {
    size: 50%
  }

  body{
    width: 75%
  }
}

@media only screen and (min-width : 480px) and (max-width : 768px) {
  p {
    font-size: 30%,
    
  }
  
  img-res {
    size : 30%
  }

  span {
    font-size: 30%,
    
}

  .rachit {
    tab-size: 1,
    
  }

 
 
}